*{
  margin: 0%;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Climate Crisis', cursive;
  background-image: url(WhatsApp\ Görsel\ 2023-09-10\ saat\ 20.38.39.jpg);
  /* !!!!!!!!!!!!!!!!!!!! */
  backdrop-filter: blur(100px);
  /* !!!!!!!!!!!!!!!!!!!! */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.ameliyatlar p{
  /* box-shadow: 0 0 10px black;ws */
  margin-bottom: 2%;
  text-align: center;
  overflow-y: scroll;
}
h1{
  margin-left: 300px;
  color: rgba(255, 255, 255, 0.859);
  text-shadow: 0 0 50px blue;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  
}
.her{
 width:400px;
 margin-left: 33%;
 margin-top: 2%;
}
#yantaraf{
background-color: rgba(0, 0, 0, 0.172);
width: 280px;
position:fixed;
height: 100%;
top: 0;
}
#desert{
  /* background-color: black; */
  margin-top: 10%;
}
a{
color: white;
text-decoration: none;
display: block;
text-align: center;
font-family: 'Reem Kufi Ink', sans-serif;
font-size: 25px;
transition: 0.3s;
background-color: rgba(0, 0, 0, 0.534);

}
a:hover{
transition: 10ms;
box-shadow: 0 0 10px ;
}
.ameliyatlar{
 background-color: rgba(255, 255, 255, 0.401); 
 margin-left: 300px;
 padding-bottom: 52px;
 /* padding-top: 60px; */
 border-radius: 40px;
 box-shadow: 10px 10px 10px 10px  rgba(128, 0, 128, 0.386);
 margin-bottom: 100px;
 margin-top: 150px;
 transition: 1.3s;
 width: calc(100% - 320px);
 overflow: hidden;
}
.ameliyatlar:hover{
box-shadow: 0 0 40px black;
}
#logo{
text-align: center;
margin: 20px;
transition: 1s;
}
#logo:hover{
transform: scale(2.1);
transform: rotate(-10deg);
margin-bottom: 30px;
text-shadow: 0 0 40px yellow;
}
h2{
margin: 10px;
text-align: center;
color: white;
font-weight: normal;
}
img{
  width: 90%;
  border-radius: 10px;
  display: block;
  box-shadow: 10px 10px 10px black;
  transition: 2s;
  margin: auto;
  max-width: 500px;
}
img:hover{
box-shadow: 0 0 10px yellow;
}
a{
 box-shadow: 0px 0px 10px  purple; 
 margin: 10px;
}
/* biz */
#biz{
background-color: hwb(295 2% 46% / 0.813);
width: 75%;
margin-left: 300px;
border-radius: 100px;
box-shadow: 0 0 30px purple;
border: 10px;
text-align: center;
margin-bottom: 100px;
}
#zib{
text-shadow: 0 0 10px red;
padding: 10px;
color:white;
font-weight: normal;
}
#zib:hover{
transition: 1s;
text-shadow: 0 0 10px pink;
}
/* yerleşim */

#yer{
background-color: rgba(0, 0, 255, 0.445);
height: 90%;
width: 60%;
margin-left: 20%;
border-radius: 30px;
box-shadow: 0 0 10px black;
border: 100px;
margin-bottom: 50px;
transition: 1s;
overflow: hidden;
}
#yer:hover{
box-shadow: 0 0 60px rgb(0, 66, 128);
}
#map{
margin-left: 18%;
margin-bottom: 50px;
border-radius: 10px;
height: 80px;
}
iframe{
width: 50%;
border-radius: 10px;
height: 300px;
margin-bottom: 5%;
}
#ppl{
  color: rgba(116, 116, 214, 0.534) ;
  box-shadow: rgba(0, 0, 113, 0.534);
}
#mapsd{
color: rgb(0, 136, 255);
box-shadow: rgb(0, 136, 255);
}
/* kişiler */
#pipl{
text-shadow: 0 0 20px rgb(0, 71, 73);
transition: 1s;
}
#pipl:hover{
  text-shadow: 0 0 50px rgb(142, 0, 0);
}

#headerMap{
  font-family: sans-serif;
  display: flex;
  
  margin-bottom: 0%;
}
.headerPhone img{
  width: auto;
  height: 40px;
  vertical-align: middle;
  display: flex;

}

.builder{
width: 40%;
background-color: rgba(0, 0, 255, 0.459);
/* margin-left: 15%; */
height: 700px;
border-radius: 100px;
margin-bottom: 50px;
margin-top: 10px;
display:inline-block;
vertical-align: top;
margin-left: 5px;
margin-right: 5px;
}
.logo{
  background-image: url("i.webp");
  display:block;
  height: 80px;
  width: 80px;
  background-size: cover;
  border-radius: 10px;
  transition: 1s;
}
#header{
  align-items: center;
  background-color: rgba(255, 255, 255, 0.592);
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  left: 280px;
  border-radius:10px;
  transition:1s;
  margin-bottom: 0%;
  position: fixed;
  width: calc(100% - 280px);
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header:hover{
  background-color:white;
}
.headerPhone{
  display: flex;
  color: black;
  background: none;
  align-items:center;
  /* background-color: none; */
  /* box-shadow: none; */
  box-shadow: none !important;
  transition: 0s;
}
.right{
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.rightTop{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* header:.margin-bottom:0%;; */
}
#rightBottom{
  display: flex;
  justify-content: flex-end;
}
.boss{
width: 250px;
border-radius: 200px;
display: inline-block;
margin-left: 5%;
margin-bottom: 2%;
margin-top: 5%;
}
.hs{
  margin-top: 5%;
}
label{
background-color: gold;
width: 50px;
height: 50px;
/* position: absolute; */
display: none;
position: relative;
z-index: 10;
}
#check{
  position:absolute;
  opacity: 0;
} 
span{
background-color: white;
height: 2px;
width: 90%;
position: absolute;
top: 24px;
left: 5%;
}
span::before{
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  content: "";
  top: 10px;
}
span::after{
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  content: "";
  top: -10px;
}
#check:checked ~ div{
  display: block;
}
#contacts{
  display: inline-block;
  /* daha sonra değiştirilebilir */
  background-color: lawngreen;
  width: 90%;
  border-radius: 70px;
  margin-bottom: 5%;
  text-align: center;
  /* neden height çalışmıyor  */
  /* height: 400%; */
}
.phone{
  display: inline-block;
   /* neden height çalışmıyor  */
  /* height: 100%; */
  border-radius: 40px;
  margin-bottom: 2%;
  background-color: transparent;
  box-shadow: none;

}
.phone img{
  background-color: transparent;

}
.phone p{
  background-color: rgba(0, 0, 0, 0.618);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.phone:hover{
  box-shadow: none;
}
.photos{
  width: 60px ;
  display: inline-block;
  box-shadow: none;
  transition:1s;
}
.photos:hover{
  filter: drop-shadow(0 0 15px black);
}
#web{
  color: brown;
  margin-bottom: 2%;
}
#cont{
  color: lawngreen;
}



@media (max-width:600px){
h1{
  margin:0;
}
.ameliyatlar{
width: 80%;
margin-left: 0%; 

}
#biz{
  margin:  0;
}


img{
width: 70%;
}
body{
  font-family: 'Climate Crisis', cursive;
  background-image: url(hs-veteriner-klinigi-5174041.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#yantaraf{
  display: none;
  width: 100%;
}
p{
  width: 40%;
}
label{
  display: block;
}


}